<!-- index es DECORADA por la plantilla base.html-->

<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/admin/layout/base}"
>

<div layout:fragment="MainBase">
       <!-- Contenido principal -->
       <div class="container">
        <h4>Administración de Categorias</h4>
        
        <!-- Botón Nuevo -->
        <a href="/admin/gamas/new" class="btn waves-effect waves-light green">
            <i class="material-icons left">add</i>Nuevo
        </a>
        <!-- Tabla -->
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Imagen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Ejemplo de registros -->
                <tr>
                    <td>Producto 1</td>
                    <td>Electrónica</td>
                    <td><img src="https://via.placeholder.com/50" alt="Imagen" class="circle"></td>
                    <td>
                        <a class="btn-floating blue waves-effect waves-light"><i class="material-icons">edit</i></a>
                        <a class="btn-floating red waves-effect waves-light"><i class="material-icons">delete</i></a>
                    </td>
                </tr>
                <tr>
                    <td>Producto 2</td>
                    <td>Hogar</td>
                    <td><img src="https://via.placeholder.com/50" alt="Imagen" class="circle"></td>
                    <td>
                        <a class="btn-floating blue waves-effect waves-light"><i class="material-icons">edit</i></a>
                        <a class="btn-floating red waves-effect waves-light"><i class="material-icons">delete</i></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Paginador -->
        <ul class="pagination center paginador">
            <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li class="waves-effect"><a href="#">2</a></li>
            <li class="waves-effect"><a href="#">3</a></li>
            <li class="waves-effect"><a href="#">4</a></li>
            <li class="waves-effect"><a href="#">5</a></li>
            <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>

    
</div>