<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/admin/layout/base}"
>

<div layout:fragment="MainBase">
       <!-- Contenido principal -->
    <div class="container">
        <h4 class="center-align">Nueva Gama</h4>
        <!-- Modal de Formulario -->
        <div id="modalGama" class="modal1">
            <div class="modal-content">
                <!-- th:object es la variable que referencia a este formulario-->
                <!-- th:action es la URL (accion/controlador) al que se envian 
                     las parejas (campo:valor) correspondientes a los inputs del Formulario
                     cuando pulsemos el el botón guardar (submit)
                     Al /admin/gamas/save del GamasController llegara un objeto con todos estos datos    
                -->
                <!-- th:field vamos a ASOCIAR cada input con una PROPIEDAD de la entidad Gama-->
                <form
                    method="post"
                    th:object="${gamaForm}" 
                    th:action="@{/admin/gamas/save}"
                >
                    <!-- Campo Nombre -->
                    <div class="input-field">
                        <input 
                            type="text" id="nombre" name="nombre" required
                            th:field="*{gamaid}"
                            >
                        <label for="nombre">Nombre de la Gama</label>
                    </div>

                    <!-- Campo Descripción -->
                    <div class="input-field">
                        <textarea 
                            id="descripcion" class="materialize-textarea" required
                            th:field="*{descripcionTexto}"
                        >
                        </textarea>
                        <label for="descripcion">Descripción</label>
                    </div>

                     <!-- Campo Imagen -->
                     <div class="input-field">
                        <textarea 
                            type="text" id="imagen" name="imagen" required
                            th:field="*{imagen}"
                            >
                        </textarea>
                        <label for="imagen">Imagen de la Gama</label>
                    </div>
                    <!-- Botones -->
                    <div class="modal-footer">
                        <a href="#" class="modal-close btn grey">Cancelar</a>
                        <button type="submit" class="btn green">Guardar</button>
                    </div>
                </form>
            </div>

            
        </div>
        </div>

     
    
    </div>
</div>

