
<html xmlns:th="http://www.thymeleaf.org"
layout:decorate="~{www/layout/base}"
>

<div layout:fragment="MainBase">
 <!-- Contenido principal -->
 <div class="container">
      
      <section id="servicios">
          <h2>Seccion Servicios</h2>
        <table class="striped">
            <thead>
            <tr >
                <th> Aromáticas</th>
                <th>Item Name</th>
                <th>Item Price</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Herbaceas</td>
                <td>Eclair</td>
                <td>$0.87</td>
            </tr>
            <tr >
                <td>Frutales</td>
                <td>Jellybean</td>
                <td>$3.76</td>
            </tr>
            <tr>
                <td>Ornamentales</td>
                <td>Lollipop</td>
                <td>$7.00</td>
            </tr>
            </tbody>
        </table>
        <p>Hola</p><p>Caracola</p>
        <span>Hola</span><spanp>Caracola</span>
      </section>
</div>


</div>